<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="assets/ebook.png">
  <title>EduBook</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color:#e0e0e0">

<div style="background-color:white" class="navbar navbar-default" id="subnav">
  <div class="col-md-12" style="padding-left: 0px;">
    <div id="arrowunderline" class="navbar-header">
      <ul class="nav navbar-nav navbar-left">
        <li class="logo"><a></a></li>
        <li class="sliding-u-l-r-l"><a style="color:grey" href="/"><b>EduBook</b></a></li>
        <li class="sliding-u-l-r-l" ><a href="/profile">Profile</i></a></li>
        <li class="sliding-u-l-r-l" ><a href="/upload_file">Upload Notes</a></li>
        <li class="dropdown sliding-u-l-r-l" >
          <a href="#" data-toggle="dropdown" style="padding-top: 14px;">Add <small><i style="color:lightblack"class="glyphicon glyphicon-chevron-down" ></i></small></a>
          <ul class="dropdown-menu" role="menu" style="border-radius: 0px 0px 0px 0px;padding:0px 0px">
            <li role="presentation" >
              <a role="menuitem" tabindex="-1" href="/course" class="book">
                <span class="glyphicon glyphicon-book" style="margin-left:10px"><span class="course" style="margin-left:10px">Subject</span>
              </a>
            </li>
            <li role="presentation">
              <a role="menuitem" tabindex="-1" href="/notification">
                <span class="glyphicon glyphicon-bell" style="margin-left:10px"></span><span class="course" style="margin-left:7px"> Notification</span> 
              </a>
            </li>
          </ul>
        </li>
        <li class="sliding-u-l-r-l"><a href="/overall_uploads">Uploads<span id="total_count" style="position:absolute;right:0px;margin-top:-10px" class="badge"></span></a></li>
        <li class="sliding-u-l-r-l"><a href="/overall_notifications"tabindex="1"><i style="font-size:18px" class="fa fa-bell-o"></i><span id="noti_count" style="position:absolute;right:0.01px;margin-top:-10px" class="badge"></span></a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse2">
      <div class="nav navbar-nav navbar-right">
        <a href="#" style="margin-left:15px;" class="navbar-btn btn btn-default btn-plus dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars" style="color:black"></i></a>
        <ul class="nav dropdown-menu" style="padding:0px 0px;border-radius: 0px 0px 0px 0px">
          <li><a href="/my_courses"><i class="fa fa-book"></i> My Subjects</a></li>
          <li><a href="/uploads"><i class="fa fa-upload"></i> My Uploads<span id="my_count" style="position:absolute;right:35px;margin-top:-10px" class="badge"></span></a></li>
          <li><a href="/my_notifications"><i class="fa fa-bell-o"></i> My Notifications<span id="my_noti_count" style="position:absolute;right:10px;margin-top:-10px" class="badge"></span></a></li>
          <li class="nav-divider"></li>
          <li><a href="/change_password"><i class="fa fa-wrench"></i> Change Password</a></li>
          <li><a href="/t_feedback"><i class="fa fa-star-o"></i> Feedback</a></li>
          <li><a href="/student_logout"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
      </div>
    </div>  
 </div> 
</div>
<script>
  $(document).ready(function(){
    var loc = window.location.pathname
    $(".navbar-left li").find("a").each(function(){
      $(this).toggleClass("active", $(this).attr("href")==loc);
    });
    
  });
</script>
<div id="wrap">
<%= yield %>
</div>

</body>

</html>