<!DOCTYPE html>
<html>
<head>
		<!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" type="image/png" href="assets/ebook.png">
	
	<!-- ****** faviconit.com favicons ****** -->
  <title>Welcome to EduBook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	

  <%= yield %>

</body>
</html>
