
<nav class="navbar navbar-inverse" role="navigation">
	<a class="navbar-brand" href="#"style="color:#00FFFF">EduBook</a>
  	<div class="container-fluid"></div><!-- /.container-fluid -->
</nav>

<form action="/login" method="post" align="center" style="margin-top:200px">
	
	<% if flash[:alert] %>
		<div class="alert"><h4 style="color:red"><%= flash[:alert] %></h4></div>
	<% end %>
	<% if flash[:notice] %>
		<div class="notice"><h4 style="color:red"><%= flash[:notice] %></h4></div>
	<% end %>

	<div style="margin-top:-100px">
		<h1 style="color:#1E90FF; text-align:center"> Welcome Sir/Madam, Login to EduBook </h1>
		<br/>
		<div align="center">
	    	<input type="email" style="width:300px" name="email" class="form-control" placeholder="Enter email" required>
  		</div>
		
		</br>

		<div align="center">
	    	<input type="password" style="width:300px" name="password" class="form-control" placeholder="Enter Password" required>
  		</div>

		</br></br>

		<div align="center">
			<input style="margin-right:30px" align="center" class="btn btn-info" type="submit" value="Login" />
		</div>	

		<br/><br/>

		<div align="center">
			Not Registered Yet ? <a href="/signup">SignUp</a> here</div>
		</div>
</form>
