<nav class="navbar navbar-inverse" role="navigation" style="margin-bottom:0px">
	<span class="navbar-brand" style="margin-top:6px;color:#00FFFF"href="#">EduBook</span>
</nav>
	
<span><form action="/login" method="get" style="margin-left:250px;margin-top:-6px">
		<input type="submit" value="" style="background: url('/assets/pg2.png');background-repeat:no-repeat; width: 33em; height: 41em;"/>
	</form>
	
	

	<form action="/student_login" method="get" style="margin-left:710px;margin-top:-577px">
		<input type="submit" value="" style="background: url('/assets/pg1.png');background-repeat:no-repeat; width: 31em; height: 41em;"/>
	</form>
</span>