<body id="ba1" >
	<div id="wrap"align="center" class="jumbotron">
	  <h1>Hello, Welcome to <b><i>EduBook!</b></i></h1>
	  <p>
	  	This is an intermediate between the <b><i>"Teachers"</b></i> and their lovely <b><i>"Students"</b></i>. Developed with the main motto of providing an online source for teachers to upload notes i.e. <b><i>"E-Notes"</b></i> for their respective subjects and thus <b style="font-size:28px"><i>"EduBook"</b></i> proves to be a basket of knowledge for students seeking appropriate notes. Also, additional applications are <b><i>"Notifications"</i></b> that the Teachers can spread along the entire college with just a <b>click!</b> 
	  </p>
	</div>
	<div id="ma1">
		<div align="center" id="or" style="height:43px">
		</div>
		<a href="/login" style="margin-top:100px;height:100px;width:450px;margin-left:100px;margin-right:10px;margin-bottom:100px" class="btn btn-default" id="b1"></a>

		<a href="/student_login" style="margin-top:100px;height:100px;width:450px;margin-right:40px;margin-bottom:100px" class="btn btn-default" id="b2"></a>
	</div>
</body>


