
<h1 style="text-align:center">Welcome <%= @student.name %></h1>

<script>
	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);
</script>