<form action="/s_change_password" method="post" id="passwordTest" >

	<% if flash[:notice] %>
	<div class="notice" style="margin-bottom:-40px"><h4 style="color:red;text-align:center"><%= flash[:notice] %></h4></div>
	<% end %>

<div class="panel" style="margin-top:60px">
	<div class="panel-heading">
		<div align="center">
			<h1 style="color:skyblue"><b>You better remember it..!! *_*<b></h1>
		</div>
	</div>

	<div align="center">
		<input type="password" style="width:300px;margin-top:30px" name="Current_password" class="form-control" placeholder="Enter Your Current password" id="a" required/></input>
	</div>
	<br/>
	<div align="center">
		<input type="password" style="width:300px;margin-top:10px" name="new_password" class="form-control" placeholder="Enter New password" id="pass1" required/>
	</div>

	</br>

	<div align="center">
		<input type="password" style="width:300px;margin-top:10px" name="renter_password" class="form-control" placeholder="Confirm New password" id="pass2" required/>
	</div>

	</br>
	<div id="pass-info"></div>

	<div align="center">
		<input style="border-radius: 0px 0px 0px 0px;margin-top:10px;margin-bottom:10px" align="center" class="btn btn-info" type="submit"  value="Submit"/>
	</div>
</div>
</form>

<script>

	var total_count = <%=@total_count%>
	$("#total_count").html(total_count);
	var old_pass = <%=@pass%>
	var noti_count = <%=@noti_count%>
	$("#noti_count").html(noti_count);
	
	$("form").on('submit', function(e){
		var pass1 = $("#pass1").val();
		var pass2 = $("#pass2").val();
		var current_pass = $("#a").val();
    if (old_pass.toString() != current_pass)
    {
      e.preventDefault();
      alert("Wrond password, please enter the correct one!");
      document.getElementById("a").style.borderColor = "#E34234";
    }
    if (pass1 != pass2) {
      e.preventDefault();
      alert("Passwords Do not match");
      document.getElementById("pass1").style.borderColor = "#E34234";
      document.getElementById("pass2").style.borderColor = "#E34234";
    }
	});
</script>