<nav class="navbar navbar-inverse" role="navigation">
	<a class="navbar-brand" style="margin-top:6px;color:#00FFFF"href="/">EduBook</a>
  	<div class="container-fluid"></div><!-- /.container-fluid -->
</nav>
<form action="/student_signup" method="post" align="center" style="margin-top:80px">
	<div>
		<h1 style="color:#696969; margin-bottom:50px"> Welcome, Sign Up to EDUBook </h1>
		<div class="form-group" style="margin-left:500px;margin-right:500px;margin-top:-15px">
    		<input type="text"  name="name" class="form-control" placeholder="Enter name" required>
  		</div>

  		</br>

		<div class="form-group" style="margin-left:500px;margin-right:500px">
    		<input type="text" name="surname" class="form-control" placeholder="Enter Surname">
  		</div>

  		</br>

		<div class="form-group" style="margin-left:500px;margin-right:500px">
    		<input type="email" name="email" class="form-control" placeholder="Enter email">
  		</div>  		  		

  		</br>

		<div class="form-group" style="margin-left:500px;margin-right:500px">
    		<input type="password" name="password" class="form-control" placeholder="Enter Password">
  		</div>
		
		</br>

		<input style="margin-right:50px;background-color:grey" class="btn" type="submit" value="Sign Up" />
	</div>
</form>